@charset "utf-8";
body {
    background: #f4f4f4;
}

.head-container {
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(255, 255, 255, 0));
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(255, 255, 255, 0));
}

.head-container > a.btn-angle-left {
    position: absolute;
    z-index: 55;
    display: block;
    width: 0.64rem;
    height: 0.64rem;
    top: 0.11rem;
    font-size: 0.55rem;
    line-height: 0.64rem;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.head-container > a.btn-left {
    left: 0.2rem !important;
}

.head-container > a.btn-right {
    font-size: 0.36rem;
    right: 0.2rem !important;
}

.head-container > h6 {
    font-size: 0.36rem;
    line-height: 0.88rem;
    color: #181818;
    font-weight: 400;
    text-align: center;
}

/*详情底部*/
.de-footer {
    position: fixed;
    z-index:999;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.98rem;
    padding: 0 2.1rem 0 1.58rem;
    background: #474749;
}

.de-footer > p {
    color: #fff;
}

.de-footer .footer-price {
    margin-top: 0.2rem;
    margin-bottom: 0.06rem;
    font-size: 0.36rem;
    line-height: 0.36rem;
    color: #fff;
}

.de-footer .footer-price > em {
    font-size: 0.2rem;
    margin-right: 0.05rem;
}

.de-footer .footer-post-price {
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #bbb;
}

/*購物車信息*/
.de-footer .shopping-cart {
    padding: 0.1rem;
    position: absolute;
    z-index: 999;
    display: block;
    width: 1.14rem;
    height: 1.14rem;
    bottom: 0.11rem;
    left: 0.27rem;
    background: #4d4d4d;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.de-footer .cart-btn {
    display: block;
    width: 0.94rem;
    height: 0.94rem;
    font-size: 0.8rem;
    line-height: 0.94rem;
    text-align: center;
    color: #6e5902;
    background: #fccf18;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.de-footer .cart-badge {
    padding: 0.01rem;
    position: absolute;
    z-index: 999;
    top: 0;
    right: -0.06rem;
    display: block;
    width: 0.28rem;
    height: 0.28rem;
    font-size: 0.2rem;
    line-height: 0.28rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #cc0000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.de-footer .get-btn {
    display: block;
    position: absolute;
    z-index: 88;
    right: 0;
    top: 0;
    width: 2.1rem;
    height: 0.98rem;
    font-size: 0.32rem;
    line-height: 0.98rem;
    color: #474749;
    background: #fccf18;
    text-align: center;
}

.de-main-box {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.de-info {
    position: relative;
    margin: 0.1rem 0;
    padding: 0 1.26rem 0 0.2rem;
    width: auto;
    height: 0.8rem;
    font-size: 0.32rem;
    line-height: 0.4rem;
}

.de-info > p {
    color: #333;
}

.de-info .de-collection {
    padding-top: 0.1rem;
    position: absolute;
    z-index: 89;
    right: 0;
    top: 0;
    display: block;
    width: 1rem;
    height: 0.8rem;
    font-size: 0.2rem;
    line-height: 0.2rem;
    color: #666;
    text-align: center;
    border-left: 1px solid #dedede;
}

.de-info .de-collection > i {
    font-size: 0.3rem;
    line-height: 0.4rem;
    color: #aaa;
}

.de-info .de-collection.active > i.icon-my-collection:before {
    content: '\e64d';
    color: #fccf18;
}

.de-price {
    padding: 0 0.2rem;
    width: auto;
    height: 1.18rem;
    font-size: 0.36em;
    line-height: 1.18rem;
}

.de-price span.price {
    display: block;
    width: auto;
    height: 1.18rem;
    color: #c00;
}

.de-price .price > em {
    font-size: 0.2rem;
    margin-right: 0.06rem;
}

.de-price .ct-panel {
    margin-top: 0.38rem;
}

.de-price .ct-btn {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    font-size: 0.3rem;
    line-height: 0.4rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #000;
}

.de-price .ct-input {
    margin: 0 0.05rem;
    width: 0.7rem;
    height: 0.4rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: #666;
}

.de-tabs {
    width: auto;
    height: auto;
    overflow: hidden;
}

.de-tabs-switch {
    padding: 0.2rem 0;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.de-tabs-switch .tabs-btn {
    position: relative;
    height: 0.4rem;
    -webkit-flex: 1;
    -moz-flex: 1;
    word-break: break-all;
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: #999;
}

.de-tabs-switch .tabs-btn:first-child {
    border-right: 1px solid #c4c4c4;
}

.de-tabs-switch .tabs-btn.active {
    color: #1d1d1d;
}

.de-tabs-switch .underline {
    display: none;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fccf18;
}

.de-tabs-switch .tabs-btn.active .underline {
    display: block;
}

.tabs-content-panel {
    margin: 0.25rem 0.2rem;
    width: auto;
    height: auto;
    background: #fff;
}

.tabs-content-panel .tabs-items {
    display: none;
    width: auto;
    height: auto;
}

.tabs-content-panel .tabs-items.fadeIn {
    display: block;
}

.de-param-table {

    width: auto;
    height: auto;
    overflow: hidden;
}

.de-param-table .table-title {
    position: relative;
    width: auto;
    height: 0.6rem;
    overflow: hidden;
    font-size: 0.28rem;
    line-height: 0.6rem;
    color: #666;
}

.middle-line {
    position: absolute;
    top: 0.3rem;
    display: block;
    width: 38%;
    height: 1px;
    background: #ddd;
}

.middle-line.left {
    left: 0;
}

.middle-line.right {
    right: 0;
}

.de-param-table .table-body{
    margin:0.05rem 0.19rem 0;
    width:auto;
    display: table;
    border-collapse:collapse;
    border:1px solid #ddd;
}

.table-row-group{
    display: table-row-group;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
    height:0.66rem;
    font-size:0.24rem;
    line-height:0.66rem;
    color: #666;
    border-bottom: 1px solid #ddd;
}

.table-cell:first-child{
    width:1.68rem;
    text-align: center;
    border-right:1px solid #ddd;
}

.table-cell:last-child{
    padding-left:0.2rem;
    width:5.04rem;
}


/*可拖动的客户*/
.fix-drag{
    position: fixed;
    z-index:999999;
    left:0;
    bottom:1.5rem;
    width:1.2rem;
    height:1.36rem;
    background: url("../image/server.png") center center no-repeat;
    -webkit-background-size:1.2rem 1.36rem;
    background-size: 1.2rem 1.36rem;
}

.drag{
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    transition: all .8s;
}









